# Server Configuration
NODE_ENV=development
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=market_spoton_db
DB_PORT=3306

# JWT Configuration
JWT_SECRET=
JWT_EXPIRE=7d

# Other Configuration
BCRYPT_ROUNDS=10